@font-face {
    font-family: 'Bokor';
    font-style: normal;
    font-weight: 400;
    src: local('Bokor');
    src: url('static/fonts/bokor-latin-400-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka';
    font-style: normal;
    font-weight: 400;
    src: local('Iosevka');
    src: url('static/fonts/Iosevka-Regular.woff2') format('woff2');
}

body {
    background-color: black;
    color: white;
    font-family: 'Iosevka', monospace;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.main-title {
    font-family: 'Bokor', serif;
    font-size: 5em;
    line-height: 1em;
    margin-top: 0.2em;
    margin-bottom: 0em;
    user-select: none;
    font-weight: normal;
}

/* hacky way of making my font look nicer on firefox 
while having chrome's rendering of it not be bloated 
*/
@supports (-moz-appearance: none) {
    .main-title {
        font-weight: bold;
    }
}

.separator {
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0em;
    width: 50px;
}

.content {
    line-height: 1.3em;
}

.click {
    color: white;
    text-decoration: underline dotted;
}

.click:hover {
    text-decoration: underline solid;
}

.button {
    display: inline-block;
    padding: 3px 6px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0;
    user-select: none;
}

.shiny {
    position: relative;
    overflow: hidden;
}

.shiny::before {
    content: '';
    position: absolute;
    top: 0;
    left: -110%;
    width: 110%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(-30deg);
    animation: shine 5s infinite;
    animation-delay: 5s;
    visibility: hidden;
}

@keyframes shine {
    0% {
        left: -110%;
        visibility: hidden;
    }

    10% {
        visibility: visible;
        left: 110%;
    }

    100% {
        left: 110%;
    }
}

.button_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

div.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    bottom: 4px;
    left: 0;
    right: 0;
}

ul.buttons {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
}

ul.buttons li {
    line-height: 0;
}

a {
    color: white;
}

div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    font-size: 0.95em;
    gap: 5px;
}
