@import url(https://fonts.bunny.net/css?family=bokor:400|ibm-plex-mono:400);

body {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

p {
    letter-spacing: -0.02em;
}

.email {
    color: white;
    text-decoration: underline dotted;
}

.main-title {
    font-family: 'Bokor', serif;
    font-size: 5em;
    line-height: 1em;
    margin-top: 0.2em;
    margin-bottom: 0em;
    user-select: none;
    font-weight: normal;
}

/* hacky way of making my font look nicer on firefox 
   while having chrome's rendering of it not be bloated 
*/
@supports (-moz-appearance: none) {
    .main-title {
        font-weight: bold;
    }
}

.separator {
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0em;
    width: 50px;
}

.content {
    line-height: 1.3em;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
}

div.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

ul.buttons {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

ul.buttons li {
    margin-right: 3px;
    line-height: 1;
}

div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.9em;
}

/* ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    display: flex;
}

ul.footer li {
    margin-right: 10px;
}

ul.footer a {
    color: white;
    text-decoration: none;
}

ul.footer a:hover {
    text-decoration: underline;
} */
