@font-face {
    font-family: "Bokor";
    src: url("assets/Bokor-Regular.woff2") format("woff2");
}

html,
body {
    margin: 0;
    background-color: black;
    cursor: url("assets/F-16.ico"), default;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    color: white;
    font-family: "Bokor";
    font-size: clamp(1em, 12em, 40vw);
    user-select: none;

    /* make click area be much tighter */
    line-height: 1;
    overflow: hidden;

    /* because chromium renders this font like dogshit at weight 600 */
    @supports not (-moz-appearance: none) {
        font-weight: 400;
    }
}
