@import "tailwindcss";

@font-face {
    font-family: "Bokor";
    src: url("static/fonts/Bokor-Regular.woff2") format("woff2");
}

/* because chromium renders this font like dogshit at weight 600 */
h1 {
    font-weight: 600;

    @supports not (-moz-appearance: none) {
        font-weight: 400;
    }
}
