$primary-color: white;
$background-color: black;
$overlay: rgba(255, 255, 255, 0.5);

$font-path: "static/fonts";

@font-face {
    font-family: 'Bokor';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bokor'),
    url("#{$font-path}/bokor-latin-400-normal.woff2") format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('IBM Plex Mono'),
    url("#{$font-path}/ibm-plex-mono-latin-400-normal.woff2") format('woff2');
}

body {
    background-color: $background-color;
    color: $primary-color;
    font-family: 'IBM Plex Mono', monospace;
}

::selection {
    background-color: $primary-color;
    color: $background-color;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box,
div.footer {
    @include flex-center;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.main-title {
    font-family: 'Bokor', 'Georgia', serif;
    font-size: 5em;
    line-height: 1em;
    margin: 0.2em 0 0 0;
    user-select: none;
    font-weight: normal;

    @supports (-moz-appearance: none) {
        font-weight: bold;
    }
}

.separator {
    color: $primary-color;
    margin: 0.5em auto 0em;
    width: 50px;
}

.content {
    line-height: 1.3em;
}

.click {
    color: $primary-color;
    text-decoration: underline dotted;

    &:hover {
        text-decoration: underline solid;
    }
}

.button {
    display: inline-block;
    padding: 3px 6px;
    color: $primary-color;
    background-color: $background-color;
    border: 1px solid $primary-color;
    cursor: pointer;
    user-select: none;

    &.shiny {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -110%;
            width: 110%;
            height: 100%;
            background: $overlay;
            transform: skewX(-30deg);
            animation: shine 5s infinite;
            animation-delay: 5s;
            visibility: hidden;
        }

        @media (prefers-reduced-motion: reduce) {
            &::before {
                animation: none;
            }
        }
    }
}

@keyframes shine {
    0% {
        left: -110%;
        visibility: hidden;
    }

    10% {
        visibility: visible;
        left: 110%;
    }

    100% {
        left: 110%;
    }
}

ul.footer {
    list-style-type: none;
    @include flex-center;
    flex-wrap: wrap;

    li {
        line-height: 0;

        a {
            color: $primary-color;
        }
    }
}

.footer-container {
    margin: 20px auto auto auto;

    @media (min-height: 816px) {
        position: absolute;
        inset: auto 0 12px;
        margin: auto auto auto auto;
    }
}

ul.footer.buttons {
    padding: 0;
}

div.footer.quote {
    text-align: center;
    word-wrap: break-word;
    margin: -24px auto auto auto;
}

div.footer.links {
    margin: -12px auto auto auto;
    gap: 6px;
}
